body{
	background: #DCE5FF;
	padding-top: 0px;
}

#homepage{
	text-align: center;
	width: 400px;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-color: black;
}

form{
	text-align: left;
	height: 10px;
}

#errorMessage{
	color: red;
}

#banner{
	border-style: solid;
	height: 75px;
	min-width: 850px;
}

#banner img{
	width: 150px;
	clear: none;
}
#search{
	width:400px;
	position:absolute;
	right:10px;
	top:80px;
       width: 300px;
	clear: none;
}

#banner_float{
	position:absolute;
	right:0px;
	top:20px;
	width: 400px;
	clear: none;
}


h1{
	position:absolute;
	left:0px;
	top:-35px;
	background-color: #fff;
	color: #333;
	width: 100%;
	font-size: 40pt;
	font-family: Vergana, sans-serif;
}


h3{
	color: #333;
	font-family: Verdana, sans-serif;
	font-size: 20pt;
	margin-left: auto;
	margin-right: auto;
	width:70%;
	margin-bottom: 0;
}

div#theHeader{
	font-family: Verdana, sans-serif;	
}

div#centerBit{
	position:absolute;
	width:100%;
	top: 100px;
}

div#savedPrograms{
	text-align:center;
}

div#buttonArea{
	margin-left: auto;
	margin-right: auto;
	width:70%;
	text-align:right;
}

table{
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
	width:70%;
	text-align:center;
}

tr, th{
	margin-left:auto;
	margin-right:auto;
}

tr:nth-child(even){
  background-color: #eee;
}

tr:nth-child(odd){
  background-color: white;
}
