body{
	background: #DCE5FF;
	padding-top: 0px;
}

#homepage{
	text-align: center;
	width: 400px;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-color: black;
	border-width: 1px;
	background-color: #EEF2FF;
}

form{
	text-align: left;
	height: 10px;
}


input#more{
	width:300px;
	height:40px;
	float: right;
}

form#search{
	margin-right:auto; 
	margin-left:auto;
	width:300px;
	position: relative;
}

div#button{
	position: absolute;
	top:300px;
}

#errorMessage{
	color: red;
}

#banner{
	border-style: solid;
	border-width: 1px;
	height: 75px;
	min-width: 850px;
	background-color: #fff;
}

#banner img{
	clear: none;
}
#search{
	position:absolute;
	top:90px;
	right:8px;
       width: 200px;
	height: 60px;
	clear: none;
}

#banner_float{
	position:absolute;
	right:0px;
	top:15px;
	width: 400px;
	clear: none;
}


h1{
	position:absolute;
	left:0px;
	top:-35px;
	background-color: #fff;
	color: #333;
	width: 100%;
	font-size: 40pt;
	font-family: Vergana, sans-serif;
}


h2{
	color: #333;
	font-family: Verdana, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}


div#savedPrograms{
	text-align:center;
}


table{
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
	width:70%;
	text-align:center;
}

tr, th{
	margin-left:auto;
	margin-right:auto;
}

tr{
	font-family: sans-serif;
	font-size: 12pt;
}
tr:nth-child(even){
  background-color: #eee;
}

tr:nth-child(odd){
  background-color: white;
}
